:root {
    --prClr:rgb(167, 84, 84);
    --secClr:rgb(23, 70, 92);
    --trClr:rgb(93, 89, 125);
    --anClr:rgb(239, 209, 176);
    --white:white;
 }



body {
    background-color: var(--anClr);
    display: flex;
    margin: 20px;
    padding: 20px;
    height: 80vh;
    font-family: 'Poppins', sans-serif;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}


.placer {
    height: 94vh;
    flex: 1;
    justify-content: center;
    align-items: center;
}


.title {
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: end;
}

.title h1 {
    font-size: 4rem;
    font-weight: 600;
    text-transform: uppercase;

}

.contanier {
    height: 65%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 4em;
}

.card  {
    flex-direction: column;
    width: 15em;
    height: 75%;
    display: flex;
    background-color: var(--white);
    border-radius: 1.5em;
}
.heading {
    letter-spacing: .2rem;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    text-transform: uppercase;
    justify-content: center;
    margin: 0;
    display: flex;
    align-items: center;
    height: 20%;
    width: 100%;
}

.heading1 {
    background-color: var(--prClr);
}
.heading2 {
    background-color: var(--secClr);
}
.heading3 {
    background-color: var(--trClr);
}
 




.inner-card {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: 100%;
    background-color:var(--white);
}

.price {
    margin-top: 1em;
    display: flex;
    align-items: end;
    gap: .5em;
}

.price p {
    margin:0;
 }

.price p.nm {
    font-size: 2rem;
    font-weight: 700;
}

.n1  {
    color:var(--prClr) ;
}

.n2  {
    color:var(--secClr) ;
}

.n3  {
    color:var(--trClr) ;
}

.text {
    display: flex;
    margin-top: 1em;
    height: 60%;
}

.text ul {
    gap: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.text ul li {
    font-size: 1.4rem;
    
}

button {
    background-color: transparent;
    display: flex;
    border-radius: .5em;
    width: 60%;
    height: 2.5em;
    justify-content: center;
    align-items: center;
  }
   

.b1 {
    background-color:var(--prClr) ;
} 

.b2 {
    background-color:var(--secClr) ;
}

.b3 {
    background-color:var(--trClr) ;
}

button p {
    text-transform: uppercase;
    color: var(--white);
    text-decoration: none;
    letter-spacing: .1em;
 }

